
    
        body {
            font-family: Arial, sans-serif;
            background-color: 
        }

        .container {
            width: 800px;
            margin: 0 auto; 
            background-color: rgb(219, 20, 20);
            padding: 20px;
        }

        img {
            display: block;
            margin: 0 auto;  
        }

        h1, h2 {
            text-align: center;
        }

        .homem_de_ferro {
            border-radius: 35px;
        }
 
